Package: com.teslaman3092.musicbgblur
Name: musicBGblur
Version: 1.0.0
Architecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: teslaman3092 <computerman939@gmail.com>
Author: teslaman3092 <computerman939@gmail.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), com.nahtedetihw.musicbackground
